// Typewriter
// --------------------------------
// Variables
// --------------------------------

// --------------------------------
// Default Colors
// --------------------------------
$color-retweet:               #19cf86;
$color-favorite:              #be1931;
$color-follow:                #00aced;
$color-list:                  #000000;
$color-mute:                  #8899a6;

// --------------------------------
// Compose Colors
// --------------------------------
$compose-background:          #3f51b5;
$compose-border:              #1a237e;
$compose-button:              #5c6bc0;
$compose-button-hover:        #7986cb;
$compose-positive:            #536dfe;
$compose-positive-disabled:   #8c9eff;
$compose-positive-text:       #e8eaf6;
$compose-account-background:  #9fa8da;
